<b:widget id="Header1" locked="true" title="Blog (Header)" type="Header" visible="true" version="2">
    <b:includable id="main" var="this">
        <b:class name="py-4" />
        <a expr:href="data:blog.homepageUrl" expr:title="data:blog.title" class="block max-h-10 w-auto">
            <img expr:src="data:image" expr:alt="data:title" expr:width="data:width" expr:height="data:height" class="max-h-10 w-auto" />
            <b:tag expr:name='data:view.isMultipleItems ? "h1" : "div"' class="sr-only"><data:title /></b:tag>
        </a>
    </b:includable>
    <b:includable id="image" />
    <b:includable id="title" />
    <b:includable id="description" />
    <b:includable id="behindImageStyle" />
</b:widget>
