<b:widget id="Image999" locked="true" title="Blog Logo (Desktop)" type="Image" visible="true" version="2">
    <b:includable id="main">
        <b:class name="hidden xl:inline-flex xl:mt-8" />
        <b:tag expr:href="data:link ? data:link : data:blog.homepageUrl" name="a" expr:title="data:title ? data:title : data:blog.title.escaped">
            <img expr:alt="data:caption ? data:caption : (data:caption ? data:caption : data:blog.title)" height="40" expr:id='data:widget.instanceId + "_img"' expr:data-src='resizeImage(data:sourceUrl, "40", "1:1")' width="40" expr:data-srcset="data:sourceSet ? data:sourceSet : data:sourceUrl" loading="lazy" class="lazyload notranslate h-10 max-h-10 w-10 flex-shrink-0 flex-grow-0 text-transparent" />
        </b:tag>
    </b:includable>
    <b:includable id="content" />
</b:widget>
