<b:widget id="LinkList999" locked="true" title="Main Menu (Index)" type="LinkList" visible="true" version="2">
    <b:includable id="main">
        <b:class name="hidden m-2 absolute z-10 min-w-[280px]" />
        <div class="m-3 flex flex-col items-start justify-center rounded-md border border-colorBorder bg-colorBackground py-3 shadow-md dark:border-colorDarkBorder dark:bg-colorDarkBackground">
            <b:loop values="data:links" var="link">
                <a expr:href="data:link.target" class="w-full px-6 py-3 text-sm text-colorText dark:text-colorDarkText"><data:link.name /></a>
            </b:loop>
        </div>
    </b:includable>
    <b:includable id="content" />
</b:widget>
