<b:defaultmarkup type='BlogArchive'>
    <b:includable id='main' var='this'>
        <b:include name='widget-title' />
        <b:include name='content' />
    </b:includable>
    <b:includable id='content'>
        <div class='archive-widget'>
            <div id='ArchiveList'>
                <div expr:id='data:widget.instanceId + "_ArchiveList"'>
                    <b:include cond='data:this.style == "HIERARCHY"' name='hierarchy' />
                    <b:include cond='data:this.style in {"FLAT", "MENU"}' name='flat' />
                </div>
            </div>
        </div>
    </b:includable>
    <b:includable id='hierarchy'>
        <b:include data='data' name='interval' />
    </b:includable>
    <b:includable id='interval' var='intervals'>
        <ul class='hierarchy'>
            <b:loop values='data:intervals' var='interval'>
                <li class='archivedate'>
                    <a class='post-count-link' expr:href='data:interval.url'>
                        <data:interval.name /> (
                        <data:interval.post-count />)
                    </a>
                    <div class='hierarchy-content'>
                        <b:include cond='data:interval.data' data='interval.data' name='interval' />
                        <b:include cond='data:interval.posts' data='interval.posts' name='posts' />
                    </div>
                </li>
            </b:loop>
        </ul>
    </b:includable>

    <b:includable id='flat'>
        <ul class='flat'>
            <b:loop values='data:data' var='i'>
                <li class='archivedate'>
                    <a expr:href='data:i.url'>
                        <data:i.name /> (
                        <data:i.post-count />)
                    </a>
                </li>
            </b:loop>
        </ul>
    </b:includable>
    <b:includable id='posts' var='posts'>
        <ul class='posts hierarchy'>
            <b:loop values='data:posts' var='post'>
                <li>
                    <a expr:href='data:post.url'>
                        <data:post.title />
                    </a>
                </li>
            </b:loop>
        </ul>
    </b:includable>
</b:defaultmarkup>