<b:defaultmarkup type='BlogSearch'>
    <b:includable id='main'>
        <b:include name='content' />
    </b:includable>
    <b:includable id='content'>
        <div class='search-widget' role='search'>
            <b:include name='searchForm' />
        </div>
    </b:includable>
    <b:includable id='searchForm'>
        <form expr:action='data:blog.searchUrl'>
            <b:attr cond='not data:view.isPreview' name='target' value='_top' />
            <b:include name='urlParamsAsFormInput' />

            <div class='search-input'>
                <button class='search-action' expr:value='data:messages.search.escaped' type='submit' expr:aria-label='data:messages.search.escaped'><svg width='25' height='25' viewBox='0 0 25 25' fill='currentColor'>
                        <path d='M20.07 18.93l-4.16-4.15a6 6 0 1 0-.88.88l4.15 4.16a.62.62 0 1 0 .89-.89zM6.5 11a4.75 4.75 0 1 1 9.5 0 4.75 4.75 0 0 1-9.5 0z'></path>
                    </svg></button>
                <input autocomplete='off' expr:aria-label='data:messages.searchThisBlog' expr:placeholder='data:messages.searchThisBlog' expr:value='data:view.isSearch ? data:view.search.query.escaped : ""' name='q' required='' />
            </div>
        </form>
    </b:includable>
</b:defaultmarkup>