<Variable name="keycolor" description="Main Color" type="color" default="$(main.color)" value="#1a8917" />

<Group description="Default Settings" selector="body">
    <Variable name="main.width" description="Theme Width" type="length" default="1192px" min="800px" max="1200px" value="1192px" />
    <Variable name="main.color" description="Main Color" type="color" default="#1a8917" value="#1a8917" />
    <Variable name="link.color" description="Link Color" type="color" default="$(main.color)" value="#1a8917" />
</Group>

<Group description="Header" selector="header">
    <Variable name="header.width" description="Header Max Width" type="length" default="1192px" min="800px" max="1200px" value="1192px" />
    <Variable name="header.color.background" description="Header Background Color" type="color" default="#ffc017" value="#ffc017" />
    <Variable name="header.color.backgroundscroll" description="Header Background Scroll" type="color" default="#ffffff" value="#ffffff" />
    <Variable name="header.color.text" description="Header Text Color" type="color" default="#212121" value="#212121" />
    <Variable name="header.color.border" description="Header Border Color" type="color" default="#292929" value="#292929" />
    <Variable name="header.color.menu" description="Header Mobile Menu Color" type="color" default="$(header.color.text)" value="#212121" />
    <Variable name="header.color.menubg" description="Header Mobile Menu Background" type="color" default="#ffffff" value="#ffffff" />
    <Variable name="header.color.menuborder" description="Header Mobile Menu Border" type="color" default="#e6e6e6" value="#e6e6e6" />
    <Variable name="header.color.menuboxshdow" description="Header Mobile Menu Box Shadow" type="color" default="$(header.color.menuborder)" value="#e6e6e6" />
</Group>

<Group description="Index Post" selector=".blog-wrapper">
    <Variable name="index.color.metatop" description="Post Meta Top Color" type="color" default="$(index.color.text)" value="#212121" />
    <Variable name="index.color.text" description="Post Title Color" type="color" default="#212121" value="#212121" />
    <Variable name="index.color.snippet" description="Post Summary Color" type="color" default="#757575" value="#757575" />
    <Variable name="index.color.metabottom" description="Post Meta Bottom Color" type="color" default="$(index.color.snippet)" value="#757575" />
    <Variable name="index.color.metabottomicon" description="Post Meta Bottom Icon Color" type="color" default="$(index.color.metabottom)" value="#757575" />
    <Variable name="index.color.loadmore" description="Load More Button Color" type="color" default="#1a8917" value="#1a8917" />
    <Variable name="index.color.loadmorebg" description="Load More Button Background" type="color" default="#ffffff" value="#ffffff" />
    <Variable name="index.color.loadmoreborder" description="Load More Button Border" type="color" default="$(index.color.loadmore)" value="#1a8917" />
</Group>

<Group description="Item Post" selector=".blog-wrapper">
    <Variable name="item.main.widthheader" description="Post Header Width" type="length" default="680px" min="500px" max="1200px" value="680px" />
    <Variable name="item.color.text" description="Post Title Color" type="color" default="#212121" value="#212121" />
    <Variable name="item.color.snippet" description="Post Summary Color" type="color" default="#757575" value="#757575" />
    <Variable name="item.color.author" description="Post Author Color" type="color" default="$(item.color.text)" value="#212121" />
    <Variable name="item.color.authorborder" description="Post Author Border Color" type="color" default="#1a8917" value="#1a8917" />
    <Variable name="item.color.meta" description="Post Meta Color" type="color" default="$(item.color.snippet)" value="#757575" />
    <Variable name="item.color.metaicon" description="Post Meta Icon Color" type="color" default="$(item.color.text)" value="#212121" />
    <Variable name="item.color.post" description="Text Color" type="color" default="$(item.color.text)" value="#212121" />
    <Variable name="item.color.share" description="Share Menu Color" type="color" default="$(item.color.snippet)" value="#757575" />
    <Variable name="item.color.sharehover" description="Share Menu Color Hover" type="color" default="$(item.color.text)" value="#212121" />
    <Variable name="item.color.sharebg" description="Share Menu Background" type="color" default="#ffffff" value="#ffffff" />
    <Variable name="item.color.shareborder" description="Share Menu Border" type="color" default="#e6e6e6" value="#e6e6e6" />
    <Variable name="item.color.shareshadow" description="Share Menu Box Shadow" type="color" default="$(item.color.shareborder)" value="#e6e6e6" />
    <Variable name="item.main.widthfooter" description="Post Footer Width" type="length" default="680px" min="500px" max="1200px" value="680px" />
    <Variable name="item.color.labeltext" description="Label Color" type="color" default="$(item.color.text)" value="#212121" />
    <Variable name="item.color.labelbg" description="Label Background" type="color" default="#f2f2f2" value="#f2f2f2" />
    <Variable name="item.color.metabottom" description="Meta Bottom Color" type="color" default="$(item.color.snippet)" value="#757575" />
    <Variable name="item.color.imagelightbox" description="Image Lightbox Background Color" type="color" default="#ffffff" value="#ffffff" />
</Group>

<Variable hideEditor="true" name="widget.color.title" description="Widget Title Color" type="color" default="#212121" value="#212121" />
<Variable hideEditor="true" name="widget.color.border" description="Widget Border Color" type="color" default="#e6e6e6" value="#e6e6e6" />
<Variable hideEditor="true" name="widget.color.posttitle" description="Widget Post Title Color" type="color" default="$(widget.color.title)" value="#212121" />
<Variable hideEditor="true" name="widget.color.postmetatop" description="Widget Post Meta Top Color" type="color" default="$(widget.color.title)" value="#212121" />
<Variable hideEditor="true" name="widget.color.postsnippet" description="Widget Post Snippet Color" type="color" default="#757575" value="#757575" />
<Variable hideEditor="true" name="widget.color.popularcounter" description="Popular Post Counter Color" type="color" default="$(widget.color.border)" value="#e6e6e6" />
<Variable hideEditor="true" name="widget.color.searchcolor" description="Search Color" type="color" default="$(widget.color.title)" value="#212121" />
<Variable hideEditor="true" name="widget.color.labeltext" description="Label Text Color" type="color" default="#757575" value="#757575" />
<Variable hideEditor="true" name="widget.color.labelbackground" description="Label Background Color" type="color" default="#fafafa" value="#fafafa" />
<Variable hideEditor="true" name="widget.color.labelborder" description="Label Border Color" type="color" default="#e6e6e6" value="#e6e6e6" />
<Variable hideEditor="true" name="widget.color.labelbutton" description="Profile Button Color" type="color" default="$(widget.color.title)" value="#212121" />
<Variable hideEditor="true" name="widget.color.labelbuttoncolorhover" description="Profile Button Hover Color" type="color" default="$(widget.color.title)" value="#212121" />
<Variable hideEditor="true" name="widget.color.labelbuttonborderhover" description="Profile Button Border Hover Color" type="color" default="$(widget.color.title)" value="#212121" />
<Variable hideEditor="true" name="widget.color.labelbuttonborder" description="Profile Button Border Color" type="color" default="$(widget.color.postsnippet)" value="#757575" />

<Group description="Footer" selector="footer">
    <Variable name="footer.color.text" description="Footer Text Color" type="color" default="#ffffff" value="#ffffff" />
    <Variable name="footer.color.background" description="Footer Background Color" type="color" default="#212121" value="#212121" />
</Group>

<Variable hideEditor="true" name="body.background" description="Body Background" type="background" color="#ffffff" default="#ffffff none repeat scroll top left" value="#dddfe2 none repeat scroll top left" />
<Variable hideEditor="true" name="body.font" description="Font" type="font" default="normal 400 14px Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif" value="normal 400 14px Arial,sans-serif" />
<Variable hideEditor="true" name="body.text.color" description="Text Color" type="color" default="#212121" value="#212121" />
<Variable hideEditor="true" name="body.text.font" description="1" type="font" default="$(body.font)" value="normal 400 14px Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif" />
<Variable hideEditor="true" name="posts.background.color" description="2" type="color" default="#ffffff" value="#ffffff" />
<Variable hideEditor="true" name="body.link.color" description="3" type="color" default="$(main.color)" value="#1a8917" />
<Variable hideEditor="true" name="body.link.visited.color" description="4" type="color" default="#1a8917" value="#1a8917" />
<Variable hideEditor="true" name="body.link.hover.color" description="5" type="color" default="#1a8917" value="#1a8917" />
<Variable hideEditor="true" name="blog.title.font" description="6" type="font" default="$(body.text.font)" value="normal 400 14px Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif" />
<Variable hideEditor="true" name="blog.title.color" description="7" type="color" default="#ffffff" value="#ffffff" />
<Variable hideEditor="true" name="header.icons.color" description="8" type="color" default="#ffffff" value="#ffffff" />
<Variable hideEditor="true" name="tabs.font" description="9" type="font" default="$(body.text.font)" value="normal 400 14px Poppins, 'Helvetica Neue', Helvetica, Arial, sans-serif" />
<Variable hideEditor="true" name="tabs.color" description="10" type="color" default="#e5e5e5" value="#e5e5e5" />
<Variable hideEditor="true" name="tabs.selected.color" description="11" type="color" default="#ffffff" value="#ffffff" />
<Variable hideEditor="true" name="tabs.overflow.background.color" description="12" type="color" default="#ffffff" value="#ffffff" />
<Variable hideEditor="true" name="tabs.overflow.color" description="13" type="color" default="$(body.text.color)" value="#212121" />
<Variable hideEditor="true" name="tabs.overflow.selected.color" description="14" type="color" default="$(body.text.color)" value="#212121" />
<Variable hideEditor="true" name="posts.title.color" description="15" type="color" default="$(body.text.color)" value="#212121" />
<Variable hideEditor="true" name="posts.title.font" description="16" type="font" default="$(body.text.font)" value="normal 400 14px Poppins, 'Helvetica Neue', Helvetica, Arial, sans-seri" />
<Variable hideEditor="true" name="posts.text.font" description="17" type="font" default="$(body.text.font)" value="normal 400 14px Poppins, 'Helvetica Neue', Helvetica, Arial, sans-seri" />
<Variable hideEditor="true" name="posts.text.color" description="18" type="color" default="$(body.text.color)" value="#212121" />
<Variable hideEditor="true" name="posts.icons.color" description="19" type="color" default="$(body.text.color)" value="#212121" />
<Variable hideEditor="true" name="labels.background.color" description="20" type="color" default="$(main.color)" value="#1a8917" />