<Group description="Default Options">
    <Variable name="colorBackground" description="Background Color" type="color" default="#FFFFFF" value="#FFFFFF" />
    <Variable name="colorText" description="Text Color" type="color" default="#202124" value="#202124" />
    <Variable name="colorMeta" description="Meta Color" type="color" default="#5F6368" value="#5F6368" />
    <Variable name="colorBorder" description="Border Color" type="color" default="#DADCE4" value="#DADCE4" />

    <Variable name="colorDarkBackground" description="Dark Background Color" type="color" default="#202124" value="#202124" />
    <Variable name="colorDarkText" description="Dark Text Color" type="color" default="#E4E6E9" value="#E4E6E9" />
    <Variable name="colorDarkMeta" description="Dark Meta Color" type="color" default="#9AA0A6" value="#9AA0A6" />
    <Variable name="colorDarkBorder" description="Dark Border Color" type="color" default="#5F6368" value="#5F6368" />
</Group>

<Group description="Navbar Options">
    <Variable name="colorNavbarTopBackground" description="Navbar Top Background Color" type="color" default="#FFFFFF" value="#FFFFFF" />
    <Variable name="colorNavbarTopBorder" description="Navbar Top Border Color" type="color" default="#DADCE4" value="#DADCE4" />
    <Variable name="colorNavbarTopShadow" description="Navbar Top Shadow Color" type="color" default="#202124" value="#202124" />
    <Variable name="colorNavbarTopText" description="Navbar Top Text Color" type="color" default="#202124" value="#202124" />
    
    <Variable name="colorNavbarBottomBackground" description="Navbar Bottom Background Color" type="color" default="#FFFFFF" value="#FFFFFF" />
    <Variable name="colorNavbarBottomShadow" description="Navbar Bottom Shadow Color" type="color" default="#202124" value="#202124" />
    <Variable name="colorNavbarBottomText" description="Navbar Bottom Text Color" type="color" default="#202124" value="#202124" />
</Group>

<Group description="Main Menu Options">
    <Variable name="colorMainMenuBackground" description="Main Menu Background Color" type="color" default="#FFFFFF" value="#FFFFFF" />
    <Variable name="colorMainMenuText" description="Main Menu Text Color" type="color" default="#202124" value="#202124" />
    <Variable name="colorMainMenuBorder" description="Main Menu Border Color" type="color" default="#DADCE4" value="#DADCE4" />
</Group>


<Group description="Index Options">
    <Variable name="colorIndexText" description="Index Text Color" type="color" default="#202124" value="#202124" />
    <Variable name="colorIndexMeta" description="Index Meta Color" type="color" default="#5F6368" value="#5F6368" />
    <Variable name="colorIndexBorder" description="Index Border Color" type="color" default="#DADCE4" value="#DADCE4" />
</Group>

<Group description="Item Options">
    <Variable name="colorItemText" description="Item Text Color" type="color" default="#202124" value="#202124" />
    <Variable name="colorItemMeta" description="Item Meta Color" type="color" default="#5F6368" value="#5F6368" />
    <Variable name="colorItemLink" description="Item Link Color" type="color" default="#202124" value="#202124" />
    <Variable name="colorItemBorder" description="Item Border Color" type="color" default="#DADCE4" value="#DADCE4" />
</Group>

<Variable name="body.font" description="Fonts" type="font" default="normal 400 16px webium" value="normal 400 16px webium" />
<Variable name="keycolor" description="Key Color" type="color" default="#26843f" value="#26843f" />
<Variable name="posts.text.color" description="Default Text Color" type="color" default="#202124" value="#202124" />

<Variable hideEditor="true" name="body.text.color" description="Text Color" type="color" default="$(posts.text.color)" value="#9aa0a6" />
<Variable hideEditor="true" name="body.text.font" description="1" type="font" default="$(body.font)" value="normal 400 16px -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif" />
<Variable hideEditor="true" name="posts.background.color" description="2" type="color" default="transparent" value="transparent" />
<Variable hideEditor="true" name="body.link.color" description="3" type="color" default="$(keycolor)" value="#26843f" />
<Variable hideEditor="true" name="tabs.font" description="9" type="font" default="$(body.font)" value="normal 400 16px -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif" />
<Variable hideEditor="true" name="tabs.color" description="10" type="color" default="#e5e5e5" value="#e5e5e5" />
<Variable hideEditor="true" name="tabs.selected.color" description="11" type="color" default="#ffffff" value="#ffffff" />
<Variable hideEditor="true" name="tabs.overflow.background.color" description="12" type="color" default="#ffffff" value="#ffffff" />
<Variable hideEditor="true" name="tabs.overflow.color" description="13" type="color" default="$(posts.text.color)" value="#212121" />
<Variable hideEditor="true" name="tabs.overflow.selected.color" description="14" type="color" default="$(posts.text.color)" value="#212121" />
<Variable hideEditor="true" name="posts.title.color" description="15" type="color" default="$(posts.text.color)" value="#212121" />
<Variable hideEditor="true" name="posts.title.font" description="16" type="font" default="$(body.text.font)" value="normal 400 16px -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif" />
<Variable hideEditor="true" name="posts.text.font" description="17" type="font" default="$(body.text.font)" value="normal 400 16px -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif" />
<Variable hideEditor="true" name="posts.icons.color" description="19" type="color" default="$(posts.text.color)" value="#212121" />
<Variable hideEditor="true" name="labels.background.color" description="20" type="color" default="$(keycolor)" value="#26843f" />
