<Group description="Default Options">
    <Variable name="colorBackground" description="Background Color" type="color" default="#FFFFFF" value="#FFFFFF" />
    <Variable name="colorText" description="Text Color" type="color" default="#202124" value="#202124" />
    <Variable name="colorMeta" description="Meta Color" type="color" default="#5F6368" value="#5F6368" />
    <Variable name="colorBorder" description="Border Color" type="color" default="#DADCE4" value="#DADCE4" />

    <Variable name="colorDarkBackground" description="Dark Background Color" type="color" default="#202124" value="#202124" />
    <Variable name="colorDarkText" description="Dark Text Color" type="color" default="#E4E6E9" value="#E4E6E9" />
    <Variable name="colorDarkMeta" description="Dark Meta Color" type="color" default="#9AA0A6" value="#9AA0A6" />
    <Variable name="colorDarkBorder" description="Dark Border Color" type="color" default="#5F6368" value="#5F6368" />
</Group>

<Group description="Navbar Options">
    <Variable name="colorNavbarTopBackground" description="Navbar Top Background Color" type="color" default="#FFFFFF" value="#FFFFFF" />
    <Variable name="colorNavbarTopBorder" description="Navbar Top Border Color" type="color" default="#DADCE4" value="#DADCE4" />
    <Variable name="colorNavbarTopShadow" description="Navbar Top Shadow Color" type="color" default="#202124" value="#202124" />
    <Variable name="colorNavbarTopText" description="Navbar Top Text Color" type="color" default="#202124" value="#202124" />

    <Variable name="colorNavbarBottomBackground" description="Navbar Bottom Background Color" type="color" default="#FFFFFF" value="#FFFFFF" />
    <Variable name="colorNavbarBottomShadow" description="Navbar Bottom Shadow Color" type="color" default="#202124" value="#202124" />
    <Variable name="colorNavbarBottomText" description="Navbar Bottom Text Color" type="color" default="#202124" value="#202124" />
</Group>

<Group description="Main Menu Options">
    <Variable name="colorMainMenuBackground" description="Main Menu Background Color" type="color" default="#FFFFFF" value="#FFFFFF" />
    <Variable name="colorMainMenuText" description="Main Menu Text Color" type="color" default="#202124" value="#202124" />
    <Variable name="colorMainMenuBorder" description="Main Menu Border Color" type="color" default="#DADCE4" value="#DADCE4" />
</Group>

<Group description="Index Options">
    <Variable name="colorIndexText" description="Index Text Color" type="color" default="#202124" value="#202124" />
    <Variable name="colorIndexMeta" description="Index Meta Color" type="color" default="#5F6368" value="#5F6368" />
    <Variable name="colorIndexBorder" description="Index Border Color" type="color" default="#DADCE4" value="#DADCE4" />
</Group>

<Group description="Item Options">
    <Variable name="colorItemText" description="Item Text Color" type="color" default="#202124" value="#202124" />
    <Variable name="colorItemMeta" description="Item Meta Color" type="color" default="#5F6368" value="#5F6368" />
    <Variable name="colorItemLink" description="Item Link Color" type="color" default="#202124" value="#202124" />
    <Variable name="colorItemBorder" description="Item Border Color" type="color" default="#DADCE4" value="#DADCE4" />
</Group>

<Variable hideEditor="true" type="font" name="body.font" description="Fonts" default="normal 400 16px Materia, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'" value="normal 400 16px Materia" />
<Variable hideEditor="true" type="font" name="body.text.font" description="1" default="$(body.font)" value="normal 400 16px Materia, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'" />
<Variable hideEditor="true" type="font" name="tabs.font" description="9" default="$(body.font)" value="normal 400 16px Materia, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'" />

<Variable hideEditor="true" type="background" name="body.background" description="Body Background" color="rgba(255,255,255,0)" default="$(color) url(//1.bp.blogspot.com/-3fxYMPSkglE/XXEqoYT86tI/AAAAAAAAGgQ/W4qTmxfWsg8fBXr26HNPhCFFeadM9_xgACPcBGAYYCw/ELC.jpg) repeat scroll top center" value="#FFFFFF url(//1.bp.blogspot.com/-3fxYMPSkglE/XXEqoYT86tI/AAAAAAAAGgQ/W4qTmxfWsg8fBXr26HNPhCFFeadM9_xgACPcBGAYYCw/ELC.jpg) repeat scroll top center" />
<Variable hideEditor="true" type="color" value="#9AA0A6" default="$(colorKey)" name="body.text.color" description="body.text.color" />
<Variable hideEditor="true" type="color" value="#590DE6" default="$(colorKey)" name="body.link.color" description="3" />
<Variable hideEditor="true" type="color" value="transparent" default="transparent" name="posts.background.color" description="2" />
<Variable hideEditor="true" type="color" value="#202124" default="$(colorText)" name="posts.text.color" description="posts.text.color" />
<Variable hideEditor="true" type="color" value="#212121" default="$(colorText)" name="posts.title.color" description="15" />
<Variable hideEditor="true" type="color" value="#212121" default="$(colorText)" name="posts.icons.color" description="19" />
<Variable hideEditor="true" type="color" value="#590DE6" default="$(colorKey)" name="labels.background.color" description="20" />

<Variable name="backgroundImage" description="backgroundImage" type="background" color="rgba(255,255,255,0)" default="$(color) url() repeat scroll top center" value="#FFFFFF url(https://lh3.googleusercontent.com/-Efigs16DUTQ/YKrJkJaHDKI/AAAAAAAAg_A/_xTHzW1sLmssSTAFEZtZTL_QqseedXjfACLcBGAsYHQ/s720-rw/index.webp) repeat scroll top center" />
