<b:includable id='openGraph'>

    <meta expr:content='data:blog.title.escaped' property='og:site_name' />
    <meta expr:content='data:view.title.escaped' property='og:title' />
    <meta expr:content='data:blog.url.canonical' property='og:url' />
    <meta expr:content='data:view.description.escaped' property='og:description' />
    <b:tag cond='data:view.isMultipleItems and data:widgets.Blog.first.posts[0].featuredImage' expr:content='data:widgets.Blog.first.posts[0].featuredImage' name='meta' property='og:image' />
    <meta content='summary_large_image' name='twitter:card' />
    <meta expr:content='data:view.title.escaped' name='twitter:title' />
    <meta expr:content='data:blog.url.canonical' name='twitter:url' />
    <meta expr:content='data:view.description.escaped' name='twitter:description' />
    <b:if cond='data:view.isHomepage'>
        <meta content='website' property='og:type' />
    </b:if>
    <b:if cond='data:view.isSingleItem'>
        <meta content='article' property='og:type' />
    </b:if>
    <b:if cond='data:view.isMultipleItems and not data:view.isHomepage'>
        <meta content='object' property='og:type' />
    </b:if>
    <b:if cond='data:view.featuredImage'>
        <meta expr:content='data:view.featuredImage' property='og:image' />
        <meta expr:content='data:view.featuredImage' name='twitter:image' />
    </b:if>

    <b:if cond='data:view.isHomepage'>
        <script type='application/ld+json'>{"@context":"http://schema.org","@type":"WebSite","name":"<data:view.title.escaped/>","url":"<data:view.url.canonical/>","potentialAction":{"@type":"SearchAction","target":"<data:view.url.canonical/>search?q={search_term_string}","query-input":"required name=search_term_string"}}</script>
    </b:if>
</b:includable>