body {
    &#layout {
        background-color: #fff;
        border: none;
    }
}


body#layout div.section {
    max-width: 980px;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 8px;
    margin-bottom: 12px;
    border-color: #dadce4;
    overflow: hidden;
    position: relative;
}
body#layout #app {
    margin: 0 auto;
    max-width: 820px;
}
body#layout div.section {
    background-color: transparent;
    border-color: #dadce4;
    border-radius: 8px;
    margin: 0 0 12px;
}