body {
    &#layout {
        background-color: #fff;
        border: none;

        #app {
            margin: 0 auto;
            max-width: 820px;
        }

        div.section {
            max-width: 980px;
            margin: 0 auto;
            background-color: transparent;
            border-radius: 8px;
            border-color: #dadce4;
            overflow: hidden;
            position: relative;
            margin: 0 auto auto 12px;
        }
    }
}
