@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sohne";
  src: url("https://glyph.medium.com/font/b492c44/0-3j_4g_53_6bu_6c4_6c8_6c9_6cc_6cd_6ci_6cm/sohne-400-normal.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  unicode-range: U+0-7F, U+A0, U+B7, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}
@font-face {
  font-family: "sohne";
  src: url("https://glyph.medium.com/font/df9ba7f/0-3j_4g_53_6bu_6c4_6c8_6c9_6cc_6cd_6ci_6cm/sohne-500-normal.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  unicode-range: U+0-7F, U+A0, U+B7, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}
@font-face {
  font-family: "sohne";
  src: url("https://glyph.medium.com/font/cf896f3/0-3j_4g_53_6bu_6c4_6c8_6c9_6cc_6cd_6ci_6cm/sohne-700-normal.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  unicode-range: U+0-7F, U+A0, U+B7, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

body {
  font-family: sohne, Segoe-UI, sans-serif;
}
