body#layout {
  max-width: 980px;
  margin: 0 auto;
  background: transparent;
  border: none;
}
body#layout div.section {
  background: transparent;
  border: transparent;
  width: 100%;
  overflow: hidden;
}
body#layout .section h4 {
  text-align: center;
  margin: 0;
}
body#layout .dropregion {
  display: none;
}

body#layout .widget-content {
  border-radius: 4px;
}
body#layout .draggable-widget .widget-content {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

body#layout div.section#header-section .widget {
  float: left;
  width: 49.467%;
}
body#layout div.section#header-section .Header {
  margin-right: 10px;
}

body#layout .inner-wrapper {
  width: 100%;
}
body#layout .blog-wrapper {
  float: left;
  width: 60%;
}
body#layout .sidebar-wrapper {
  float: left;
  width: 40%;
}
body#layout .hidden-section {
  display: none;
}
